<div class="welcome-section">
  <p class="titulo-index">BIENVENIDOS A TIENDA VIRTUAL HIGH CLASS</p>
  <div class="content-container">
    <div class="image-container">
      <img
        id="header-image"
        src="https://tecnosoluciones.com/wp-content/uploads/2023/04/que-productos-vender-en-una-tienda-virtual-o-comercio-electronico.jpg"
        alt="Productos de tienda virtual"
        class="header-image-1"
      />
    </div>
    <div class="text-container">
      <p class="parrafo-home">
        Nos complace darle la bienvenida a nuestra tienda virtual, su destino
        definitivo para encontrar los mejores productos del mercado.<span
          class="span-1-home"
        >
          Aquí, en nuestra tienda, nos esforzamos por ofrecer una amplia
          variedad de artículos de alta calidad,</span>
        desde tecnología de vanguardia hasta accesorios de moda y más. Nuestra
        misión es proporcionarle una experiencia de compra en línea fácil,
        segura y placentera.
      </p>
      <p class="parrafo-home">
        En nuestra tienda virtual, encontrará una selección cuidadosamente
        estructurada de productos que hemos elegido con gran esmero para
        satisfacer sus necesidades y preferencias.
        <span class="span-1-home">
          Sabemos que nuestros clientes buscan lo mejor, y por eso nos dedicamos
          a ofrecer marcas reconocidas y productos innovadores que cumplen con
          los más altos estándares de calidad.</span>
      </p>
      <p class="parrafo-home">
        Ya sea que esté buscando el último modelo de smartphone, un televisor de
        alta definición, o accesorios de moda para complementar su estilo,
        estamos seguros de que encontrará exactamente lo que necesita en nuestra
        tienda. Nuestro catálogo de productos está en constante actualización
        para incluir las últimas novedades y tendencias del mercado.
      </p>
      <p class="parrafo-home">
        Además, nuestro equipo de atención al cliente está siempre disponible
        para ayudarle con cualquier consulta o necesidad que pueda tener.
        Creemos en la importancia de un servicio al cliente excepcional y
        estamos comprometidos a garantizar su satisfacción en cada etapa de su
        experiencia de compra.
      </p>
      <p class="parrafo-home">
        Lo invitamos a explorar nuestra tienda y descubrir todo lo que tenemos
        para ofrecer.
        <span class="span-1-home">Aproveche nuestras ofertas especiales y
          descuentos exclusivos, y disfrute de la conveniencia de recibir sus
          compras directamente en la puerta de su hogar.
        </span>¡Gracias por elegirnos como su tienda virtual de confianza!
      </p>
    </div>
  </div>
</div>