<div class="container">
  <h1 class="text-center">Agregar (eliminar) Productos en tiempo real</h1>

  <form id="product-form" class="product-form">
    <input
      type="text"
      id="product-title"
      placeholder="Título del producto"
      required
      class="form-control input-wide"
    />
    <textarea
      id="product-description"
      placeholder="Descripción del producto"
      required
      class="form-control input-wide"
    ></textarea>
    <div class="form-row">
      <input
        type="text"
        id="product-code"
        placeholder="Código del producto"
        required
        class="form-control input-small"
      />
      <input
        type="number"
        id="product-price"
        placeholder="Precio del producto"
        required
        class="form-control input-small"
      />
      <input
        type="number"
        id="product-stock"
        placeholder="Stock del producto"
        required
        class="form-control input-small"
      />
    </div>
    <input
      type="text"
      id="product-thumbnails"
      placeholder="Thumbnails del producto (opcional)"
      class="form-control input-wide"
    />
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-3">Agregar Producto</button>
    </div>
  </form>

  <div id="productos-listado"></div>
</div>

<script src="/main.js"></script>