<main>
  <h1>Panel de Productos</h1>
  <form action="/" method="post" id="form">
    <div>
      <label for="title">Titulo</label>
      <input type="text" name="title" id="title" required />
    </div>
    <div>
      <label for="category">Categoria</label>
      <input type="text" name="category" id="category" required />
    </div>
    <div>
      <label for="description">Descripcion</label>
      <input type="text" name="description" id="description" required />
    </div>
    <div>
      <label for="price">Precio</label>
      <input type="number" name="price" id="price" required />
    </div>
    <div>
      <label for="code">Codigo</label>
      <input type="number" name="code" id="code" required />
    </div>
    <div>
      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock" required />
    </div>
    <button type="submit" id="btnAdd">Agregar Producto</button>
  </form>

  <p>Lista de productos</p>

  <div id="listProducts"></div>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/realTimeProducts.js"></script>